## Data Exploration

### import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", 200)

/var/folders/5j/3nf89wy94797pmc98lsh3xy00000gn/T/ipykernel_71582/3711532654.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv("data/atp_tennis.csv")

In [4]:
df.shape

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25362 entries, 0 to 25361
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tournament  25362 non-null  object
 1   Date        25362 non-null  object
 2   Series      25362 non-null  object
 3   Court       25362 non-null  object
 4   Surface     25362 non-null  object
 5   Round       25362 non-null  object
 6   Best of     25362 non-null  int64
 7   Player_1    25362 non-null  object
 8   Player_2    25362 non-null  object
 9   Winner      25362 non-null  object
 10  Rank_1      25362 non-null  int64
 11  Rank_2      25362 non-null  int64
 12  Pts_1       25362 non-null  int64
 13  Pts_2       25362 non-null  int64
 14  Odd_1       25362 non-null  float64
 15  Odd_2       25362 non-null  float64
 16  score       25362 non-null  object
dtypes: float64(2), int64(5), object(10)
memory usage: 3.3+ MB

In [7]:
df.head(10)
# df.describe()
# df.columns

,Tournament,Date,Series,Court,Surface,Round,Best of,Player_1,Player_2,Winner,Rank_1,Rank_2,Pts_1,Pts_2,Odd_1,Odd_2,score
0,Brisbane International,2012-12-31,ATP250,Outdoor,Hard,1st Round,3,Mayer F.,Giraldo S.,Mayer F.,28,57,1215,778,1.36,3.00,6-4 6-4
1,Brisbane International,2012-12-31,ATP250,Outdoor,Hard,1st Round,3,Benneteau J.,Nieminen J.,Nieminen J.,35,41,1075,927,2.20,1.61,3-6 6-2 1-6
2,Brisbane International,2012-12-31,ATP250,Outdoor,Hard,1st Round,3,Nishikori K.,Matosevic M.,Nishikori K.,19,49,1830,845,1.25,3.75,7-5 6-2
3,Brisbane International,2012-12-31,ATP250,Outdoor,Hard,1st Round,3,Mitchell B.,Baghdatis M.,Baghdatis M.,326,36,137,1070,9.00,1.07,4-6 4-6
4,Brisbane International,2013-01-01,ATP250,Outdoor,Hard,1st Round,3,Istomin D.,Klizan M.,Istomin D.,43,30,897,1175,1.90,1.80,6-1 6-2
5,Brisbane International,2013-01-01,ATP250,Outdoor,Hard,1st Round,3,Ito T.,Millman J.,Millman J.,79,199,655,239,2.20,1.61,4-6 1-6
6,Brisbane International,2013-01-01,ATP250,Outdoor,Hard,1st Round,3,Falla A.,Levine J.,Falla A.,54,104,809,530,2.20,1.61,6-1 7-6
7,Brisbane International,2013-01-01,ATP250,Outdoor,Hard,1st Round,3,Kudla D.,Melzer J.,Melzer J.,137,29,402,1177,2.62,1.44,6-2 4-6 4-6
8,Brisbane International,2013-01-01,ATP250,Outdoor,Hard,1st Round,3,Robredo T.,Harrison R.,Robredo T.,114,69,495,710,3.00,1.36,6-4 7-6
9,Brisbane International,2013-01-01,ATP250,Outdoor,Hard,1st Round,3,Baker B.,Dimitrov G.,Dimitrov G.,61,48,756,866,3.00,1.36,3-6 6-7

## Data Cleaning

### Drop unnecessary columns

In [8]:
df.columns

Index(['Tournament', 'Date', 'Series', 'Court', 'Surface', 'Round', 'Best of',
       'Player_1', 'Player_2', 'Winner', 'Rank_1', 'Rank_2', 'Pts_1', 'Pts_2',
       'Odd_1', 'Odd_2', 'score'],
      dtype='object')

In [9]:
df = df[['Tournament', 'Date', 'Series', 'Court', 'Surface', 'Round', 'Best of',
       'Player_1', 'Player_2', 'Winner', 'Rank_1', 'Rank_2', 'score']]

In [10]:
df.shape

(25362, 13)

### Check for null values

In [11]:
df.isna().sum() / df.shape[0]

Tournament    0.0
Date          0.0
Series        0.0
Court         0.0
Surface       0.0
Round         0.0
Best of       0.0
Player_1      0.0
Player_2      0.0
Winner        0.0
Rank_1        0.0
Rank_2        0.0
score         0.0
dtype: float64

In [19]:
df["score"].value_counts()

score
3-6 4-6                  476
6-3 6-4                  455
6-4 6-4                  441
4-6 4-6                  440
7-6 6-4                  295
                        ...
3-6 6-2 7-5 6-4            1
6-7 7-6 6-3 6-7 14-12      1
4-6 6-1 7-6 2-6 3-6        1
4-6 4-6 6-3 1-6            1
7-5 1-6 7-5                1
Name: count, Length: 4286, dtype: int64

## Exploratory Data Analysis

## Statistical Analysis