## Data Exploration

### Import libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", 200)

In [ ]:
df = pd.read_csv("data/atp_tennis.csv")

In [ ]:
df.shape

df.info()

In [ ]:
df.head(10)
# df.describe()
# df.columns

## Data Cleaning

### Drop unnecessary columns

In [ ]:
df.columns

In [ ]:
df = df[['Tournament', 'Date', 'Series', 'Court', 'Surface', 'Round', 'Best of',
       'Player_1', 'Player_2', 'Winner', 'Rank_1', 'Rank_2', 'score']]

In [ ]:
df.shape

### Check for null values

In [ ]:
df.isna().sum() / df.shape[0]

In [ ]:
df["score"].value_counts().head(20)

### Split scores into individual columns of score per player per set

In [47]:

temp = "4-6 2-6"
def split(temp):
    split_sets = temp.split()
    single_score = []
    for set in split_sets:
        scores = set.split("-")
        for score in scores:
            single_score.append(score) 
    return single_score

score_df = pd.DataFrame(df["score"].apply(split).to_list())

set_count = 0
for i in range(len(score_df.columns)):
    if i%2 ==0:
        set_count += 1
        name = f"{set_count}_player_1"
    else:
        name = f"{set_count}_player_2"
    # change to "df"
    score_df[name] = score_df[score_df.columns[i]]

score_df

,0,1,2,3,4,5,6,7,8,9,1_player_1,1_player_2,2_player_1,2_player_2,3_player_1,3_player_2,4_player_1,4_player_2,5_player_1,5_player_2
0,6,4,6,4,None,None,None,None,None,None,6,4,6,4,None,None,None,None,None,None
1,3,6,6,2,1,6,None,None,None,None,3,6,6,2,1,6,None,None,None,None
2,7,5,6,2,None,None,None,None,None,None,7,5,6,2,None,None,None,None,None,None
3,4,6,4,6,None,None,None,None,None,None,4,6,4,6,None,None,None,None,None,None
4,6,1,6,2,None,None,None,None,None,None,6,1,6,2,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25357,3,6,2,6,None,None,None,None,None,None,3,6,2,6,None,None,None,None,None,None
25358,6,4,6,2,None,None,None,None,None,None,6,4,6,2,None,None,None,None,None,None
25359,6,7,6,3,3,6,None,None,None,None,6,7,6,3,3,6,None,None,None,None
25360,6,7,6,4,6,2,None,None,None,None,6,7,6,4,6,2,None,None,None,None
25361,5,7,3,6,None,None,None,None,None,None,5,7,3,6,None,None,None,None,None,None

In [ ]:
df.head(10)

## Exploratory Data Analysis

### Univariate

### Multivariate

## Statistical Analysis